# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Google Cloud Platform service key
hoth-authentication-e41a562557a7.json

.env
